{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>update</title>
</head>
<body>
    <header>
       <h1 class="title">Update task</h1>
    </header>
    <main class="update-section">
       <div class="update-form">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="update-btn">
                    <button type="submit">Update Task</button>   
            </div>
         </form>
        </div>
    </main>
</body>
</html>