{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Delete</title>
</head>
<body>
    <section class="delete-section">
    <h1>Delete Task</h1>
    <div class="delete-message">
        <h2>Are you sure want to delete the Task
            <span>"{{task.title}}</span>
        </h2>
    </div>
    <div class="delete-task">
        <form action="" method="post">
            {% csrf_token %} 
            <div class="delete-buttons">
                <div class="confirm-delete">
                     <button type="submit">Yes,Delete ! </button>
               </div>
                <div class="Cancel-delete">
                    <button><a href="{% url 'todo' %}">Cancel</a></button>
                </div>
            </div>    
        </form>
    </div>
</section>
</body>
</html>