{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>home</title>
</head>
<body>
  <header>
    <h1 class="title"> 📝my todolist</h1>
  </header>
   
  <section class="add-section">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="add-btn">
          <button type="submit">add Task</button>
        </div>
    </form>
  </section>
    <main class="task-container">
          {% for tasks in tasks %}
             <div class="task-card">
              <h2 class="task-title">{{ tasks }}</h2>
                <div class="btn">
                    <div class="task-buttons"> 
                          <div class="edit-btn">
                            <button><a href="{% url 'Edit' tasks.id %}">📑Edit</a></button>
                          </div>
                        <div class="delete-btn">
                          <button><a href="{% url 'Delete' tasks.id %}">❌Delete</a></button>
                       </div>
                     </div>
                  </div>
                </div>  
          {% empty %}
           <h2 class="no-task">no Task Yet</h2>
          {% endfor %}
      </main> 
</body>
</html>